@import url(./pygments-css/monokai.css);

pre {
  background-color: #000;
  padding: 15px
}

body {
  font-family: 'PT Serif', Georgia, Times, 'Times New Roman', serif;
  line-height: 1.5;
  margin: 0 10px;
}

.container {
  margin: 0px auto;
  font-size: 18px;
  width: 600px;
}
